.point {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 2.5rem;
    font-size: 17px;

}

.begin {
    margin: 0 0 0 400px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    border: 2px solid gray;
    border-radius: 4px;
}